.heading {
  color: rgb(0, 113, 13);
}

ul {
  color: blue;
}

.define-yourself {
  height: 100px;
  width: 100px;
}

.look-at-the-stars {
  height: 100px;
  width: 100px;
}

.difficult-roads {
  height: 100px;
  width: 100px;
}
